.textbook-group{

    
    &-controls{
        @apply flex justify-around mb-10;
    }

    &-games-links{
        a {
            @apply p-4 m-3 rounded bg-emerald-400 ; 
        }
    }



    &.group-done {
        @apply bg-red-300;
      }

   
}