

.words-list {
  @apply pt-10 flex flex-1 flex-wrap gap-4 justify-center;
  

  &-item:nth-child(even){
    & .word-card-image-wrapper img {
      transform: rotate(2deg);
    }
  }

  &-item:nth-child(3){
    & .word-card-image-wrapper img {
      transform: rotate(-2deg);
    }
  }

  &.list-done {
    @apply bg-green-200;
  }
}

