.footer {
    @apply flex w-full justify-center;

    & .footer_wrapper {
        @apply w-5/6 flex justify-between items-center my-4 pt-4 border-t border-gray-200 text-gray-500 px-4;
    }

    & .footer_year {
        @apply flex justify-center ;
    }

    & .footer_copyrights {
        @apply flex w-full justify-end gap-4;
    }

    & .footer_logo {
        @apply w-full ;

        & .footer_icon {
            @apply w-32 ;
        }

    }

}

